<!DOCTYPE html>
<html>
<head>
	<title>DOGGOS</title>
</head>
<body>

<a href="home.html"> </a>

<div>
  <img src="{{url_for('static', filename='dogs.jpg')}}" style="width:100%; height: 50$">
  <h1>Adopt Doggossss!!!!</h1>
  <p>Owning a dog is great fun and immensely rewarding, adopting a dog in a shelter nearby is way better than buying one, because these dogs need homes to take them in and care for them. If you're interested in any of the dogs please reach out to us!</p>
  <img src="{{url_for('static', filename='dogs2.jpg')}}" style="100%">
</br>

</div>

{% for p in products %}

<div class= "card">
	<h1>{{p.name}}</h1>
	<p class="price"> Adopt </p>
	<img src="../static/{{p.picture_link}}">
	<p class="Description"> {{p.description}} </p>
	<p><button><a href="/add_to_cart/{{p.id}}">Adopt Now!</a></button></p>

</div>

{% endfor %}

<br>
<br>
</body>
</html>