<!DOCTYPE html>
<html>
<head>
	<title>This is dima's story (again, 0 creativity)</title>
</head>
<body>

<a href="home.html"> </a>

<div>
  <img src="jeans0.jpg" style="width:100%">
  <h1>Tailored Jeans</h1>
  <p class="price">$19.99</p>
  <p>Jeans are a type of pants or trousers, typically made from denim or dungaree cloth. Often the term "jeans" refers to a particular style of trousers, called "blue jeans", which were invented by Jacob W. Davis in partnership with Levi Strauss & Co. in 1871[1] and patented by Jacob W. Davis and Levi Strauss on May 20, 1873. Prior to the Levi Strauss patented trousers, the term "blue jeans" had been long in use for various garments (including trousers, overalls, and coats), constructed from blue-colored denim.[2]</p>
  <p><button>Add to Cart</button></p>
</div>
</body>
</html>